.toDoList {
  background-color: black;
  width: 100%;
  display: flex;
  text-align: center;
  row-gap: 20px;
}

.counter h1 {
  transform: rotate(360deg);
  color: rgb(209, 239, 36);
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.taskList {
  border: 5px;
  border-color: black;
  border-style: groove;
  font-size: 20px;
  color: rgb(239, 42, 101);
  font-family: monospace;
  width: 50%;
  display: inline-flex;
  
}

.buttonHolder {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 40px;
  
}

.toDoList {
  border-width: 5px;
  border-color: black;
  border-style: dashed;
  width: 50%;
  font-size: 18px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(216, 247, 19);
  border: 1px, solid, rgb(16, 0, 54);
  display: inline-flex;

}
.controlButton {
  background-color: tan;
}
