.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 60px, 100px;
  background: url(https://img5.goodfon.com/original/1920x1080/5/f9/tsvet-forma-fon-208.jpg)
}
form {
  background-color: aqua;
  padding: 60px, 100px;
  border-radius: 10px;
}
h1 {
  color:darkgoldenrod;
  text-align: center;
}
button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: goldenrod;
  font-size: large;
  color: #000;
  cursor: pointer;
}
.formInput {
  display: flex;
  flex-direction: column;
  width: 400px;
}
input {
  padding: 15px;
  margin: 10px, 0px;
  border-radius: 5px;
}
span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display:none;
}
input:invalid ~ span{
  display: block;
}