.App {
  text-align: center;
}

h1, h2 {
  text-align: center;
}
.logo {
display: block;
margin: 0 auto;
text-align: center;
}
nav, ul, li {
  display: block;
  text-align: center;
}
.logout, Link {
  display: block;
  text-align: center;
}


